td {
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none
}


.table-hover>tbody>tr:hover {
    background-color: #ddd;
}

.pull-right {
    float: right !important;
    margin-right: 10px;
}