<!-- <div class="container">
  <div class="navbar-header">
    <a id="menu-toggle" href="#" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </a>

  </div>
  <div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav">
      <li *ngFor="let section of arrayOfSections">
        <a href="#{{ section.toLowerCase() }}">{{ section }}</a>
      </li>
    </ul>
  </div>
</div> -->

<div id="wrapper" [class.toggled]="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">Dicoogle RBAC</a>
      </li>
      <!-- <li *ngFor="let section of arrayOfSections">
        <a href="#{{ section.toLowerCase() }}">{{ section }}</a>
      </li> -->
      <li>
        <a href="#facilities" (click)="facilitiesClick()">Facilities</a>
      </li>
      <li>
        <a href="#organizations" (click)="organizationsClick()">Organizations</a>
      </li>
      <li>
        <a href="#users" (click)="usersClick()">Users</a>
      </li>
      <li>
        <a href="#roles" (click)="rolesClick()">Roles</a>
      </li>
      <li>
        <a href="#permissions" (click)="permissionsClick()">Permissions</a>
      </li>
      <li>
        <a href="#operations" (click)="operationsClick()">Operations</a>
      </li>
      <li>
        <a href="#categories" (click)="categoriesClick()">Categories</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <app-dashboard></app-dashboard>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>