<div class="topbar">
  <div class="col-md-2"><a href="/">Dicoogle RBAC</a></div>
  <div class="col-md-1 col-md-offset-9 ">
    <a class="pull-right" (click)="logoutClick()"><i class="fa fa-sign-out white-button big-button" aria-hidden="true"></i></a>
  </div>
</div>
<div id="wrapper" [class.toggled]="toggled" class="sidebar-custom">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a (click)="facilitiesClick()">Facilities</a>
      </li>
      <li>
        <a (click)="organizationsClick()">Organizations</a>
      </li>
      <li>
        <a (click)="usersClick()">Users</a>
      </li>
      <li>
        <a (click)="rolesClick()">Roles</a>
      </li>
      <li>
        <a (click)="permissionsClick()">Permissions</a>
      </li>
      <li>
        <a (click)="operationsClick()">Operations</a>
      </li>
      <li>
        <a (click)="categoriesClick()">Categories</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <app-dashboard></app-dashboard>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>