body {
  overflow-x: hidden;
}

a:not([href]){
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.white-color {
  color: white;
  border-top: 0px solid #000000;
}

.white-color ul li a{
  color: white;
  border-bottom: 0px solid #000000;
}

.white-color ul li a:hover {
  background-color: rgba(16, 108, 200, 0.80)
}

.big-button {
  font-size: 1.3em;
}

.logout-bottom {
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.navbar-blue {
  background: rgba(16, 108, 200, 0.95);
}

.navbar-blue .navbar-header {
  background: #106CC8;
}

.margin-top {
  margin-top: 2%
}

@media (max-width: 768px){
  .logout-bottom {
    position: relative; 
    display: block;
    border-top: 1px solid #318CE7;
    background: #106CC8;
  }

  .navbar-nav {
    margin-bottom: 0px;
  }

  .logout-bottom a::before {
    content: "Logout  ";
  }
}

.collapsed-button {
  border: 0px solid #000000;
}

.collapsed-button:hover {
  background-color: #127DE9;
}

.collapsed-button:focus {
  background-color: #127DE9;
}

.collapsed-button .icon-bar {
  background-color: white;
}

nav {
  border: 0px solid #000000;
  padding-left: 15px;
}

.navbar-brand:hover {
  color: #E9E9E9;
}
