<div class="row">
  <div class="col-sm-3 col-lg-2">
    <nav class="navbar navbar-default navbar-fixed-side navbar-blue white-color">
      <div class="navbar-header">
        <button class="navbar-toggle white-color collapsed-button" data-target=".navbar-collapse" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand white-color" href="/">Dicoogle RBAC</a>
      </div>
      <div class="collapse navbar-collapse white-color">
        <ul class="nav navbar-nav">
          <li>
            <a (click)="facilitiesClick()">Facilities</a>
          </li>
          <li>
            <a (click)="organizationsClick()">Organizations</a>
          </li>
          <li>
            <a (click)="usersClick()">Users</a>
          </li>
          <li>
            <a (click)="rolesClick()">Roles</a>
          </li>
          <li>
            <a (click)="permissionsClick()">Permissions</a>
          </li>
          <li>
            <a (click)="operationsClick()">Operations</a>
          </li>
          <li>
            <a (click)="categoriesClick()">Categories</a>
          </li>
          <li>
            <a (click)="resourcesClick()">Resources</a>
          </li>
          <li class="logout-bottom">
            <a (click)="logoutClick()"><i class="fa fa-sign-out white-color big-button" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-sm-9 col-lg-9 margin-top">
    <app-dashboard></app-dashboard>
  </div>
</div>