<!-- <div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>A Custom modal design</h1>
        </div>
    </div>
    <div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Do the math to quit:</h1>
                <p class="lead">I received an injection of the number <strong>{{context.fields[0]}}</strong> and the number <strong>{{context.num2}}</strong></p>
                <span>What is the sum?</span>
                 <input class="form-control" type="text" #answerautofocus>
                 <button class="btn bt-primary"  (click)="closeDialog()">Close</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <h1>Create new {{ context.caller }}</h1>
    </div>
  </div>
  <div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
    <div class="col-xs-12">
      <form>
        <div class="form-group row" *ngFor="let field of context.fields">
          <label for="{{ field }}" class="col-sm-2 col-form-label">{{ field }}</label>
          <div class="col-sm-10">
            <input type="{{ field }}" class="form-control" id="{{ field }}" placeholder="{{ field }}">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
        <button class="btn bt-primary" (click)="closeDialog()">Close</button>
      </form>
    </div>
  </div>
</div>