<!-- <div class="row dashboard-margins" *ngIf="this.selectedEntityService.selectedSection==='dashboard'">
    <div class="jumbotron jumbotron-container-padding">
        <h2 class="display-3"> <a class="logo" href="index.html"><img src="../assets/images/logo.png" alt="" height="30px"></a> Accounting Mechanism</h2>
        <p class="lead">
            Dicoogle Accounting Mechanism interface allows the creation, edit and removal of entities associated with the system.
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <div class="dashboard-margins">
                <h4>Organizations</h4>
                <p>Create, edit or delete Organizations</p>
            </div>

            <div class="dashboard-margins">
                <h4>Facilities</h4>
                <p>Create, edit or delete Facilities</p>
            </div>

            <div class="dashboard-margins">
                <h4>Users</h4>
                <p>Create, edit or delete Users</p>
            </div>

            <div class="dashboard-margins">
                <h4>Categories</h4>
                <p>Create, edit or delete Categories</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="dashboard-margins">
                <h4>Roles</h4>
                <p>Create, edit or delete Roles</p>
            </div>

            <div class="dashboard-margins">
                <h4>Permissions</h4>
                <p>Create, edit or delete Permissions</p>
            </div>

            <div class="dashboard-margins">
                <h4>Operations</h4>
                <p>Create, edit or delete Operations</p>
            </div>

            <div class="dashboard-margins">
                <h4>Sharing</h4>
                <p>Create, edit or delete Sharing</p>
            </div>
        </div>
    </div>
</div> -->

<app-facilities *ngIf="this.selectedEntityService.selectedSection==='facilities'"></app-facilities>
<app-organizations *ngIf="this.selectedEntityService.selectedSection==='organizations'"></app-organizations>
<app-users *ngIf="this.selectedEntityService.selectedSection==='users'"></app-users>
<app-roles *ngIf="this.selectedEntityService.selectedSection==='roles'"></app-roles>
<app-permissions *ngIf="this.selectedEntityService.selectedSection==='permissions'"></app-permissions>
<app-operations *ngIf="this.selectedEntityService.selectedSection==='operations'"></app-operations>
<app-categories *ngIf="this.selectedEntityService.selectedSection==='categories'"></app-categories>
<app-resources *ngIf="this.selectedEntityService.selectedSection==='resources'"></app-resources>
<router-outlet></router-outlet>